.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 5rem 5rem 0.5rem 5rem;
}

p {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

button,
input,
svg {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  border: none;
  font-weight: bold;
  text-align: center;
}

/* theme */

.light {
  background-color: white;
  color: #282c34;
}

.dark {
  background-color: #282c34;
  color: white;
}
