.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 5rem 5rem 0.5rem 5rem;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #282c34;
  color: white;
}
